<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Contactanos al +1234567890 o al correo delhospitalatucasa@gmail.com">
    <meta name="keywords" content="salud, vacunas, curaciones, domicilio, cuidados adulto mayor, primeros auxilios.">

    <!-- BOOTSTRAP CSS -->

    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- MI CSS -->

    <link rel="stylesheet" href="../css/estilo.css">

  <link rel="icon" href="../img/logo.png">
	<title>Contactanos</title>
</head>
<body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-xs-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" alt="logonav" class="logoPrincipal"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="sobremi.html">Sobre mi</a>
                <a class="nav-link" href="servicios.html">Servicios</a>
                <a class="nav-link" href="educate.html">Educate</a>
                <a class="nav-link" href="#">Contacto</a>
                <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <section class="col-lg-12 col-xs-12">
          <h1 class="tituloContacto">¿En que podemos ayudarte?</h1>
        </section>
        <div class="col-lg-6 col-xs-12">
          <form class="formulario">
            <div class="form-group">
              <label for=""><b>Nombre</b></label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for=""><b>Apellidos</b></label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1"><b>Correo electronico</b></label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@gmail.com">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1"><b>Tipo de mensaje</b></label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>-</option>
                <option>Agendar atención</option>
                <option>Consulta</option>
                <option>Sugerencia</option>
                <option>Reclamo</option>
                <option>Otro</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1"><b>Deja tu comentario</b></label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              <button class="btn btn-primary" type="submit">Enviar</button>
              <button class="btn btn-primary" type="reset">Borrar</button>
            </div>
          </form>
        </div>
        <div class="col-lg-6 col-xs-12">
          <iframe class="mapaFormulario" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3687.4601062014426!2d-68.92984508442659!3d-22.449337827352796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96ac09c03126dd39%3A0x1403584a510d54e9!2sRam%C3%B3n%20Freire%203075%2C%20Calama%2C%20Antofagasta!5e0!3m2!1ses-419!2scl!4v1628636798985!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
      <div class="container-fluid container-footer">
        <footer class="row bgFooter">
          <div class="col-lg-4 col-xs-12 columna1">
            <h3 class="footerTitulos">DEL HOSPITAL A TU CASA</h3>
            <img src="../img/logo.png" alt="logofooter" class="logoFooter">
          </div>
          <div class="col-lg-4 col-xs-12 columna2">
            <h3 class="footerTitulos">REDES SOCIALES</h3>
            <a href="https://twitter.com"><img src="../img/iconotwitter.jpg" alt="logotwitter" class="twitterFooter"></a> 
            <a href="https://www.facebook.com/"><img src="../img/iconofacebook.png" alt="logofacebook" class="facebookFooter"></a> 
            <a href="https://www.instagram.com/"><img src="../img/instagram.png" alt="logoinstagram" class="instagramFooter"></a>
          </div>
          <div class="col-lg-4 col-xs-12 columna3">
            <h3 class="footerTitulos">INFORMACION DE CONTACTO</h3>
            <img src="../img/telefono.png" alt="imgwhatsapp" class="wsFooter">
            <label>+984564685262 +68495161652</label>
            <div>
              <img src="../img/correo.png" alt="imgcorreo" class="correoFooter">
              <label>delhospitalatucasa@gmail.com</label>
            </div>
          </div>
        </footer>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 col-lg-12 copyright">
              © 2021 Todos los derechos reservados │ Del hospital a tu casa
            </div>
          </div>
        </div>
      </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

</body>
</html>