<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Lee un poco sobre mí y toda la experiencia que tengo que me capacitan a realizar estos servicios.">
    <meta name="keywords" content="salud, vacunas, curaciones, domicilio, cuidados adulto mayor, primeros auxilios">

    <!-- BOOTSTRAP CSS -->

    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- MI CSS -->

    <link rel="stylesheet" href="../css/estilo.css">

  <link rel="icon" href="../img/logo.png">
	<title>Sobre mi</title>
</head>
<body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-xs-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" alt="logonav" class="logoPrincipal"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#">Sobre mi</a>
                <a class="nav-link" href="servicios.html">Servicios</a>
                <a class="nav-link" href="educate.html">Educate</a>
                <a class="nav-link" href="contacto.html">Contacto</a>
                <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
	   <div class="container-fluid">
      <div class="row">
        <section class="col-lg-12 col-xs-12">
          <h1 class="tituloNombre">Jacquelyne G. Pérez Janco │ Enfermera</h1>
        </section>
        <div class="col-lg-6 col-xs-12">
          <img src="../img/cuidados.jpg" alt="imgcuidados" class="imgPersonal">
        </div>
        <div class="col-lg-6 col-xs-12">
          <p class="descripcion">Enfermera clínica que actualmente se desempeña en la Unidad de Neonatología UTI Neo/Pediátrica del Hospital Carlos Cisternas de Calama. Egresada de la Universidad de Antofagasta el año 2019 y a la fecha ha ejercido en el área pre-hospitalaria como enfermera reanimadora y en el área intrahospitalaria como enfermera en la Unidad de Cuidados Intermedios. 
          <p class="descripcion">Poseo conocimientos y certificación en Gestión del Cuidado en Urgencias y Emergencias, Primera Línea del Trauma, BLS, entre otros.</p>
          <p class="descripcion">Ser enfermera es saber que cada día cambiarás una vida o una vida cambiará la tuya, somos la ciencia del cuidado. Generalmente se piensa que esta profesión trata netamente en la administración de medicamentos, punciones, o seguir simplemente ordenes médicas, pero se olvida que nuestra labor es cuidar y esforzarnos en marcar la diferencia cualquiera sea el área en la que se trabaje. Es por eso que la atención constante de una/o de nosotras/os es primordial en la evolución del paciente ya sea en su hospitalización o en su domicilio.</p>
          <p class="descripcion">Con los conocimientos que he adquirido en base a la experiencia y el estudio constante se ha creado esta página, para promover, prevenir y ayudar en las interrogantes que puedan surgir.</p>
          </p>
        </div>
      </div> 
     </div>
      <div class="container-fluid container-footer">
        <footer class="row bgFooter">
          <div class="col-lg-4 col-xs-12 columna1">
            <h3 class="footerTitulos">DEL HOSPITAL A TU CASA</h3>
            <img src="../img/logo.png" alt="logofooter" class="logoFooter">
          </div>
          <div class="col-lg-4 col-xs-12 columna2">
            <h3 class="footerTitulos">REDES SOCIALES</h3>
            <a href="https://twitter.com/"><img src="../img/iconotwitter.jpg" alt="logotwitter" class="twitterFooter"></a> 
            <a href="https://www.facebook.com/"><img src="../img/iconofacebook.png" alt="logofacebook" class="facebookFooter"></a>
            <a href="https://www.instagram.com/"><img src="../img/instagram.png" alt="logoinstagram" class="instagramFooter"></a>
          </div>
          <div class="col-lg-4 col-xs-12 columna3">
            <h3 class="footerTitulos">INFORMACION DE CONTACTO</h3>
            <img src="../img/telefono.png" alt="imgwhatsapp" class="wsFooter">
            <label>+984564685262 +68495161652</label>
            <div>
              <img src="../img/correo.png" alt="imgcorreo" class="correoFooter">
              <label>delhospitalatucasa@gmail.com</label>
            </div>
          </div>
        </footer>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 col-lg-12 copyright">
              © 2021 Todos los derechos reservados │ Del hospital a tu casa
            </div>
          </div>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

</body>
</html>